.toastContainer {
  position: fixed;
  top: 20px;
  right: 60;
  background-color: #d52626;
  width: 400px;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toastContainer.hide {
  transform: translateX(100%);
  opacity: 0;
}

.toastMessage {
  margin-right: 10px;
  font-size: 16px;
}

.toastClose {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
